ALTER TABLE product ADD COLUMN IF NOT EXISTS name_he VARCHAR(255);
ALTER TABLE product ADD COLUMN IF NOT EXISTS description_he TEXT;
ALTER TABLE categories ADD COLUMN IF NOT EXISTS name_he VARCHAR(255);
