<nav class="navbar">

  <a class="logolink" href="index.html">
    <div class="nav-left">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="logo" class="logo-img">
      <span class="logo-text">ForYou</span>
    </div>
  </a>

  <ul class="nav-center" id="nav-menu">
    <li class="nav-item"><a href="index.html">Home</a></li>
    <li class="nav-item"><a href="category.html">Categories</a></li>
    <li class="nav-item"><a href="products.html">Products</a></li>
    <li class="nav-item"><a href="#footer">Contact</a></li>
    <li class="nav-item"><a href="about.html">About Us</a></li>
  </ul>

  <div class="nav-right">
    <div class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>

    <div class="menu-btn" id="menuBtn">
      ☰
    </div>
  </div>

</nav>